@import '../../../config.scss';

.form {
  display: grid;
  gap: 12px;
  min-width: 50vw;
  .header {
    .title {
      text-align: center;
      font-size: 1.1rem;
      font-weight: bold;
      color: #324356;
    }
  }
  .main {
    display: grid;
    gap: 16px;
    border-radius: 4px;
    padding: 12px;
    background-color: #fff;
    .title {
      text-align: center;
      font-size: 1rem;
      color: #324356;
    }
    .items {
      display: grid;
      gap: 8px 12px;
      grid-template-columns: repeat(2, 1fr);
      align-items: start;
      .item {
        display: grid;
        gap: 2px;
        min-width: 25vw;
        .field {
          display: grid;
          gap: 2px;
          border: 1px solid #d4d4d4;
          border-radius: 4px;
          padding: 4px 8px;
          .label {
            font-size: 0.8rem;
            font-weight: bold;
            color: #324356dd;
          }
          .input {
          }
          input, select, option {
            box-sizing: border-box;
            margin: 0;
            outline-width: 0;
            border-width: 0;
            width: 100%;
            padding: 0;
            color: #324356;
          &.status--empty, &::placeholder {
            color: #d4d4d4;
          }
          }
        }
        .note {
          font-size: 0.8rem;
          color: #324356;
        }
        .image {
          display: grid;
          gap: 16px;
          justify-items: center;
          .holder {
            position: relative;
            box-sizing: border-box;
            border: 1px solid #eae8e9;
            border-radius: 50%;
            width: 128px;
            height: 128px;
            padding: 6px;
            .button {
              cursor: pointer;
              position: absolute;
              top: 0;
              right: 0;
              border: 2px solid #fff;
              border-radius: 50%;
              width: 28px;
              height: 28px;
              background-color: $highlightedColor;
              text-align: center;
              font-size: 16px;
              line-height: 28px;
              color: #fff;
            }
            .icon {
              display: grid;
              place-content: center;
              border-radius: 50%;
              width: 100%;
              height: 100%;
              background-color: #d4d4d4;
              font-size: 64px;
              color: #acacac;
            }
          }
          .description {
            font-size: 0.8rem;
            color: #324356;
          }
        }
      &.size--full {
        grid-column-start: 1;
        grid-column-end: span 2;
      }
      &.type--prefix, &.type--suffix  {
        .field {
          gap: 2px 17px;
          .affix {
            position: relative;
            grid-area: field-affix;
            display: grid;
            place-content: center;
            margin: -4px -8px;
            padding: 4px 8px;
            color: #324356dd;
            &::after {
              content: '';
              position: absolute;
              top: 0;
              bottom: 0;
              width: 1px;
              background-color: #d4d4d4;
            }
          }
          .label {
            grid-area: field-label;
          }
          .input {
            grid-area: field-input;
          }
        }
      }
      &.type--prefix {
        .field {
          grid-template-areas: "field-affix field-label" "field-affix field-input";
          grid-template-columns: max-content 1fr;
          .affix {
            &::after {
              right: -1px;
            }
          }
        }
      }
      &.type--suffix  {
        .field {
          grid-template-areas: "field-label field-affix" "field-input field-affix";
          grid-template-columns: 1fr max-content;
          .affix {
            &::after {
              left: -1px;
            } 
          }
        }
      }
      &.theme--error {
        .field {
          border-color: $highlightedColor;
          .label {
            color: $highlightedColor;
          }
        }
        .note {
          color: $highlightedColor;
        }
      &.type--prefix, &.type--suffix {
        .field {
          .affix {
            &::after {
              background-color: $highlightedColor;
            }
          }
        }
      }
      }
      &.theme--disabled:not(.theme--error) {
        .field {
          .label {
            opacity: 0.4;
          }
        }
      }
      }
    }
    .message {
      display: grid;
      gap: 16px;
      justify-items: center;
      .image {
        img {
          max-width: 25vw;
        }
      }
      .title {
        color: $highlightedColor;
        font-size: 1.1rem;
        font-weight: bold;
      }
      .label {
        font-weight: bold;
        color: #324356;
      }
      .note {
        font-weight: bold;
        color: $highlightedColor;
        .link {
          cursor: pointer;
          text-decoration: underline;
          color: $primaryColor;
        }
      }
      .description {
        text-align: center;
        color: #324356;
      }
    }
  }
  .footer {
    display: grid;
    gap: 32px;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    .links {
      .link {
        display: grid;
        gap: 2px;
        grid-auto-flow: column;
        align-items: center;
        font-size: 0.8rem;
        line-height: 0.8rem;
        color: #324356;
      &::before {
        content: '';
        display: inline-block;
        border: 5px solid transparent;
        border-left-width: 0;
        border-right-color: #324356;
      }
      &:hover {
        text-decoration: underline;
      }
      }
    }
    .options {
      margin: -8px;
      display: flex;
      .option {
        cursor: pointer;
        box-sizing: border-box;
        margin: 8px;
        border-radius: 4px;
        padding: 4px 16px;
        background-color: #eae8e9;
        text-align: center;
        color: #acacac;
      &.type--primary {
        min-width: 160px;
        background-color: $primaryColor;
        color: #fff;
      }
      }
    }
  }
}