@import './../../config.scss';

.layout {
  .initial-screen {
    min-height: 100vh;
    display: grid;
    grid-template-rows: max-content 1fr;
    .header {
      position: sticky;
      min-height: 64px;
    }
    .main {
      display: grid;
      place-content: center;
      padding: 32px;
      background-color: #f4f4f4;
    }
  }
}