@import '../../../config.scss';

$iconSize: 56px;
$iconBorderWidth: 2px;
$barHeight: 28px;
$barBorderWidth: 8px;

.steps {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  .bar {
    position: absolute;
    top: (($iconSize - $barHeight) / 2);
    left: ($iconSize / 2);
    right: ($iconSize / 2);
    box-sizing: border-box;
    border: $barBorderWidth solid #fff;
    border-right-width: 0;
    border-left-width: 0;
    height: $barHeight;
    .progress {
      position: absolute;
      top: 0;
      bottom: 0;
      background-color: $primaryColor;
    }
  }
  .step {
    position: relative;
    box-sizing: border-box;
    border-radius: 50%;
    border: $iconBorderWidth solid #fff;
    width: $iconSize;
    height: $iconSize;
    background-color: #fff;
    text-align: center;
    line-height: ($iconSize - ($iconBorderWidth * 2));
    font-size: $iconSize * 0.5;
    color: #bababa;
  &.status--current {
    border-color: $highlightedColor;
    color: $highlightedColor;
  }
  &.status--completed {
    border-color: $primaryColor;
    color: $primaryColor;
  }
  }
}